/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato:wght@300&display=swap');

/* Asterisk wildcard selector  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* Generic project styles */
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: large;
}

h1,
h2,
h3 {
    font-family: 'EB garamond', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
}

/* Header */
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid black;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px black;
    display: none;
    top: 100%;
    font-weight: 600;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */

main {

    flex: 1 0 auto;
    margin-top: 43px;
    align-items: center;
}

#mission {
    padding-top: 20px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: large;
}

#mission h2 {
    text-align: center;
    align-items: center;
}

#crew {
    text-align: center;
    align-items: center;
    padding-top: 10px;
}

#present {

    padding-top: 20px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: large;
}

#why {
    padding-top: 10px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: large;
}

#why h3 {
    text-align: center;
    font-size: x-large;
}

#adoption-process {
    padding-top: 25px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: medium;
}

#adoption-process p {
    text-align: center;
    font-size: large;
}

/*  Hero Section*/
#hero {
    height: 550px;
    width: 100%;
    background: url("../images/streetcat2.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(255, 255, 255, .7);
    position: absolute;
    bottom: 20px;
    width: 85%;
    min-height: 125px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}

/*  Adoption Page  */

.gallery {
    border-style: solid;
    border-color: black;
    padding: 5px;
    margin: 25px;
    background: white;
    overflow: auto;
    width: auto;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    grid-gap: 25px;
    justify-items: center;
    align-items: center;
}

.gallery-image {
    border-style: solid;
    border-width: 5px;
     border-color: black;
    padding: 10px;
    text-align: center;

}

.image-title {
    font-size: 25px;
    font-weight: bold;
     text-align: center;
}

#contact-details {
    align-items: center;
    text-align: center;
    font-size: medium;
}

/* Form */

main {
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}


#news-letter {
    background-image: url("../images/catbg.jpg");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#news-letter-form {
    color: white;
    background-color: rgba(20, 20, 20, 0.5);
    padding: 30px;
}

#news-letter-form>h2 {
    color: white;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: white;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid white;
    border-radius: 2px;
    padding: 0 5px;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: black;
    color: white;
}

/* Footer */

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: black;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    .gallery {
        grid-template-columns: auto auto;
            grid-template-rows: auto auto;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        font-size: larger;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 210%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        margin-top: 77px;
    }

    #cat-list>li {
        list-style: circle;
        text-transform: bold;
    }

    #adoption-process {
        text-align: center;
    }


    /*  Hero  */
    #cover-text {
        width: 300px;
        left: 30px;
        bottom: 100px;
    }

    #photos {
        column-count: 2;
    }

    #news-letter {
        background-position: center;
        position: relative;
    }

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid black;

    }

    #logo {
        font-size: 250%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    #crew {
        padding-top: 20px;
    }

    #adoption-process {
        text-align: center;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        font-size: x-large;
    }

    #news-letter {
        background-position: center;
        position: relative;
        flex: content;
    }

    .text-input:hover {
        border-color: black;
    }

    .join-button:hover {
        background-color: white;
        color: black;
    }

}